

/* .inline-words{
    font-family: Roboto;
    padding: 0%;
    margin-left: 214px; 
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    list-style: none;
    display: flex;
 justify-content: space-around;
    width: 530px;


}
.inline-words span{
    margin-right: 100px;
}
header{
    background-color: white;
    padding: 20px;
    display: flex;

}
header img{
    height: auto;
}
.computer{
    width: 200px;
}
.computer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;

}
img{
    max-width: 100%;
    max-height: 100%;
}
.img-container{
    margin: 0 56px;
    background: url("./111111\ 1.jpg");
    background-size: cover;
    width: 92vw;
    height: 746px;
}
.geo-img {
    margin-right: 10px;
}
.icons-container {
    margin-left: 214px;
    display: flex;
    align-items: center;
}
.basket {
    margin-left: 50px;
    height: 25px;
    width: auto;
}
.ovodov{
    font-family: Roboto;
    height: 24px;
    display: flex;
    align-items: center;
    padding:0%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    list-style: none;
    text-decoration: none ;
}
.large-image{
    padding-bottom: 90px;
}
.ben-10{
    margin-left: 25px;
    align-items: center;
}
#header-image{
    position: absolute;

}
.ben-20{
    padding-top: 10PX;
}
.header-line{
    height: 1px;
    background-color: #000;
    opacity: 0.3;
} */




/* } */
body{
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 10px 0;
   
}
.header-top{
    display: flex;
    justify-content: space-between;
    min-height: 99px;
    align-items: center;
}
header{
    border-bottom: 1px solid #E0E0E0;
}
nav ul{
    display: flex;
    grid-gap:0 100px;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14.4px; /* 120% */
letter-spacing: 2px;
text-transform: uppercase;
transition: all 1s;
}
nav ul li a:hover {
    opacity: 0.5;
}
.cont{
    display: flex;
    grid-gap:0 46px;
}
.cont a span{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14.4px; /* 120% */
letter-spacing: 2px;
text-transform: uppercase;
padding-left: 10px;
text-align: center;
vertical-align: middle;
} 
.q-1{
    display: flex;
    align-items: center;
}
.slider-item img{
    width: 100%;
}
.container-1{
    display: flex;
    justify-content: space-between;
}

.left-text{
    color: #1A1A1A;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 58px; /* 120.833% */
width: 355px;

}
.right-text{
    color: #AAA;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    width: 569px;
    padding-bottom: 93px;

}
.container-2{
    max-width: 100%;
}
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }



img{
    max-width: 100%;
}
.container-2{
   margin-left: 60px;
   margin-right: 60px;
}
.new-words{
    text-align: center;
    justify-content: space-between;
    color: #1A1A1A;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 100% */
    margin-top: 105px ;
}
.q-2{
    color: #4A4A4A;
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 150% */
}
.container-logo{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 125px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 50px 100px
}
.middle-words{
    color: #1A1A1A;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.middle-words-d{
    color: #46856E;
font-family: Roboto;
margin-top: 25px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 12px; /* 85.714% */
letter-spacing: 0.75px;
text-transform: uppercase;

}
.slider{
    margin-top: 119px;
}
.q-4{
    display: flex;
    flex-direction: row;
    margin-top: 51px;
    margin-left: 100px;
}
.cost-effective{
    color: #1A1A1A;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
margin-top: 26px;
width: 160px;
}
.time-saving{
    color: #1A1A1A;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
margin-top: 26px;
width: 137px;
}
.flexible{
    color: #1A1A1A;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
margin-top: 26px;
width: 84px;
}
.cost-effective-d{
    color: #AAA;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 20px;
}
.time-saving-d{
    color: #AAA;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 20px;
}
.flexible-d{
    color: #AAA;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 20px;
}
.Frame-0{
    margin-top: 240px;
}


.q-5{
    width: 882px;
    margin-top: 240px;
    margin-left: 200px;
    color: #AAA;
font-family: Roboto;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: 52px; /* 113.043% */
text-align: left;
}
.q-6{
    color: #000;
font-family: Roboto;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: 52px; /* 113.043% */
margin-top: 25px;
}
.fotki-3{
    margin-top: 350px;

}


.fotka-1{
    margin-top: 350px;
}
.fotka{
    display: flex;
    flex-direction: row;
    margin: 0 120px;
}

.potomPridumai {
    flex-grow: 1;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 301px;
}
.we-ss{
    margin-bottom: 20px;
    color: #1A1A1A;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 112.5% */
}
.we-qq{
    color: #AAA;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.qwerty{
    margin-top: 200px;
}